@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;

}
html{
    scroll-behavior: smooth;
}
section {
    display:flex;
    justify-content:center;
    align-items:center;
    min-height: 100vh;
    background: url(bg2.jpg);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    padding: 50px;

}

.section1 .container
{
   position: relative;
   width: calc(100% - 100px);
   min-height: calc(100vh - 200px);
   min-height: 300px;
   background: rgba(255,255,255,0.5);
   box-shadow: 0 15px 35px rgba(0,0,0,0.05);
   border-radius: 20px;
   display: flex;
   justify-content: space-between;
   align-items:center;
   padding: 50px;
}

.section1 header
{
    position: absolute;
    top: -40px;
    right: 20px;
    left: 20px;
    padding: 20px 50px;
    display: flex;
     justify-content: space-between;
     align-items: center;
     background:rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.section1 header .logo{
    color: #8a2435;
    font-weight: 700;
    text-decoration: none;
    font-size: 2cm;
}

.section1 header ul {
    display: flex;

}

.section1 header ul li { 
    list-style:none;
    margin: 0px 10px;
}
 
.section1 header ul li a { 
    text-decoration: none;
    font-weight: 500;
    color: #8a2435;
    padding: 8px 15px;
    border-radius: 25px;

}

.section1 header ul li a:hover,
.section1 header ul li a.active
{
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);



}

.section1 .content{
    transform: translate(-100px);
    max-width: 700px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px) ;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 40px;
    padding-left: 110px;

}

.section1 .content h2{
    font-size: 3em;
    color: #8a2435;

}

.section1 .content p{
    font-size: 1.2em;
    color: #8a2435;
    
}

.section1 .content a{
    display: inline-block;
    padding: 15px 30px;
    background: #fff;
    color: #8a2435;
    margin-top: 20px;
    border-radius: 30px;
    font-size:1.2em;
    font-weight: 500;
    text-decoration: none;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);

}



.section1 .imageBx img
{
    max-width: 400px;
    animation: animate 5s infinite linear;   
    
}
@keyframes animate{
    0% ,100%
    {
       transform: translateY(50px); 
    }
    50%{ 
        transform: translateY(100px);
    }
}
.section1 .sci{
    position:absolute;
    right: -25px;
    display: flex;
    justify-content: center ;
    align-items:center;
    flex-direction: column;

}

.section1 .sci li 
{
    list-style: none;

}
.section1 .sci li a 
{
  text-decoration: none;
  width: 50px;
  height: 50px;
    background: #fff;
    display: flex;
    justify-content:center;
    align-items:center;
    border-radius: 50%;
    margin: 5px 0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.section1 .sci li a img 
{
    transform: scale(0.6);
    transition: 0.5s;


}

.section1 .sci li:hover  a img
{
    transform: scale(0.6) rotate(360deg)
}

.copyrightText
{
    position: absolute;
    bottom: 30px;
    left: 50px;
    color: #8a2435;
}

/*------------------------------------------------
           Making the website responsive
-------------------------------------------------*/


@media (max-width:1200px)
{
    .section1 .container{
      position: relative;
      width: calc(100% - 20px);
  }
}

@media (max-width:992px)
{
    section{
        padding: 50px 10px 10px ;
    }
    .section1 .container
    {
       flex-direction: column;
       height: auto;
       padding: 20px;

    }
    .section1 .container .content
    {
       transform: translateX(0px);
       max-width:100%;
       padding: 30px;
       margin-top:  -40px; 
    }
    .section1 header 
    {
        position: relative;
        flex-direction: column;
        width: 100%;
        top: -60px;
        padding: 20px;
        right: 0;
        left: 0;
    }
    .section1 header ul 
    {
        margin-top: 10px;
        flex-wrap: wrap;
       justify-content: center;
    }

    .section1 header ul li 
    {
        margin: 2px;

    }

    .section1 header ul li a 
    {
        display:inline-block;
    }
    .section1 .imageBx
    {
        margin-bottom: 50px;

    }
    .section1 .content a {
        font-size: 1em;
        padding: 10px 20px;
    }
    @keyframes animate{
        0% ,100%
        {
           transform: translateY(-20px); 
        }
        50%{ 
            transform: translateY(20px);
        }
    }
    .section1 .sci
    {
        position: relative;
        flex-direction: row;
        left: 0;

    }
    .section1 .sci li a 
    {
        margin: 0 10px 
    }
    .section1 .copyrightText
    {
        position: relative;
        bottom: initial;
        left: inherit;
        width: 100%;
        color: #8a2435;
        text-align: center;
        margin-top: 20px;
    }
}

@media (max-width:600px)
{
    .section1 .content h2
     {
         font-size: 1.5em;
         color: #8a2435;
     }
     .section1 .content p {
         font-size: 1em;
         color: #8a2435;

     }
     .section1 .imageBx img 
     {
         max-width: 300px;
     }
}

/*-----------------------------------------------------------
                       Section 2 
----------------------------------------------------------------*/

.container2
{
    position: relative;
    width: 1150px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.container2 .card {
    position: relative;
    width: 300px;
    height: 420px;
    background: #fff;
    margin: 20px ;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
    transition: 0.5s;

}
.container2:hover .card
{
    filter: blur(20px);
    transform: scale(0.9);
    opacity: 0.5;
}

.container2 .card:hover
{
    filter: blur(0px);
    transform: scale(1.1);
    opacity: 1;
}

.container2 .card .circle 
{
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    clip-path: circle(180px at center 0 );
    text-align: center;


}
.container2 .card .circle h2
{
   color:  #fff;
   font-size: 4.5em;
   padding: 30px 0;

}
.container2 .card .content 
{
    position: absolute;
    bottom: 10px;
    padding: 20px;
    text-align: center;

}
.container2 .card .content p 
{
    color: #666;

}

.container2 .card .content a 
{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: #000;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    margin-top: 20px;

}

.container2 .card:nth-child(1) .circle,
.container2 .card:nth-child(1) .content a
{
    background: #ffaf00;

}

.container2 .card:nth-child(2) .circle,
.container2 .card:nth-child(2) .content a
{
    background: #da2268;


}

.container2 .card:nth-child(3) .circle,
.container2 .card:nth-child(3) .content a
{
    background: #bb02ff;

}

/*------------------------------------------------------------
                        Section 3
-------------------------------------------------------------*/

.section3 .container {
    position: relative;
    z-index: 1000;
    width: 100%;
    max-width: 1000px;
    padding: 50px;
    background: rgba(255, 255, 255, 0.233);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.295);
    border: 1px solid rgba(255,255,255, 0.25);
    border-right: 1px solid rgba(255,255,255, 0.1);
    border-bottom: 1px solid rgba(255,255,255, 0.1);
   border-radius: 10px;
   overflow: hidden;
   backdrop-filter: blur(25px);

}
/* The line in the glass */
.section3 .container::before
{     
  content: '';
  position: absolute;
  top: 0;
  left: -40%; 
  width: 100%;
  height: 100%;
  background:rgba(255, 255, 255, 0.1);
  pointer-events: none;
  transform: skewX(-15deg);

}
.section3 .container h2 
{
    width: 100%;
    text-align: center;
    color: #8a2435;
    /* color: white; */
    font-size: 36px;
    margin-bottom: 20px;

}

.section3 .container .row100
{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}

.section3 .container .row100 .col
{
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 20px;
}

.section3 .container .row100 .col .input-box
{
    position: relative;
    width: 100%;
    height:40px;
    color: #8a2435;
    
}

.section3 .container .row100 .col .input-box input,
.section3 .container .row100 .col .input-box textarea
{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 0 10px;
    z-index: 1;
    color: #000;


}

.section3 .container .row100 .col .input-box .text 
{
    position: absolute;
    top: 0;
    left: 0;
    line-height:40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}

.section3 .container .row100 .col .input-box input:focus + .text,
.section3 .container .row100 .col .input-box input:valid + .text,
.section3 .container .row100 .col .input-box textarea:focus + .text,
.section3 .container .row100 .col .input-box textarea:valid + .text
{
    top: -35px;
    left: -10px;
}

.section3 .container .row100 .col .input-box .line 
{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height:2px;
    background: #fff;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;

}

.section3 .container .row100 .col .input-box input:focus ~ .line,
.section3 .container .row100 .col .input-box input:valid ~ .line 
{
    height: 100%;
}

.section3 .container .row100 .col .input-box.textarea
{
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0;

}

.section3 .container .row100 .col .input-box textarea:focus ~ .line,
.section3 .container .row100 .col .input-box textarea:valid ~ .line 
{
    height: 100%;
}



/* Send Button Settings */


.section3 .container .row100 .col  input[type="submit"]
{
    border: none;
    padding: 10px 40px;
    cursor: pointer;
    outline: none;
    background: white;
    color : #8a2435;
    font-weight: 600;
    font-size: 18px;
    border-radius: 8px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.05);


}

@media (max-width:768px)
{
    section::before
    {
        transform: translate(-200px, -180px);
    }
    section::after
    {
        transform: translate(220px,180px);
    }
    .section3 .container  
    {
        padding: 20px;
    }
    .section3 .container h2 
    {
        font-size:28px;
    }
}

/* -----------------------------------------------------------
                    Section 4 (About Us) 
--------------------------------------------------------------*/


.section4 .container
{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    margin: 40px 0;

}

.section4 .container .card 
{
     position: relative;
     width: 300px;
     height: 400px;
     background: rgba(255, 255, 255, 0.17);
     margin: 20px;
     box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
     border-radius: 15px;
     display: flex;
     justify-content: center;
     align-items: center;
     backdrop-filter: blur(10px);
}

.section4 .container  .card  .content
{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
}

.section4 .container .card:hover .content
{
   opacity: 1;
   transform: translateY(-20px);
}

.section4 .container .card .content .img-bx 
{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0,0,0,0.25);

} 

/* image settings  */
.section4 .container .card .content .img-bx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.section4 .container .card .content .content-bx h3
{
    color: #fff;
    text-transform: uppercase; 
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;

}

.section4 .container .card  .content-bx h3 span 
{
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}

.section4 .container .card .sci 
{
    position: absolute;
    bottom: 50px;
    display: flex;

}

.section4 .container .card .sci li 
{
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0; 
    transition-delay: calc(0.1s * var(--i));
}

.section4 .container .card:hover .sci li 
{
    transform: translateY(0px);
    opacity: 1;

}

.section4 .container .card .sci li a 
{
    color: white;
    font-size: 24px;

}

/* ---------------------------------
             TO Top Arrow          
-----------------------------------*/

.to-top {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    position: fixed;
    bottom: 40px;
    right: 32px;
    width :50px;
    height: 50px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: 32px;
    color: #000;
    text-decoration: none;
    opacity: 0;
    pointer-events:none;
    transition: all .4s;

}

.to-top.active
{
   bottom: 32px;
   pointer-events: auto;
   opacity: 1; 
}
